body {

    background-color: rgb(25, 25, 201);

}


#main {

    width: 1000px;
    margin-left: auto;
    margin-right: auto;

      }

      #header
      {
        
        overflow: hidden;

      }

      #logo
      {
        width: 200px;
        float: left;

      }

      #menu
      {
        
        float:right;

      }
      #slide
      {
        height : 200px;
        margin-top: 20px;

      }
      
      #content
      {
        overflow: hidden;
        

      }


      .subcontent
      {
         width:302px;
         height:300px;
         float:left;
         margin-right:5px;
         background-color: rgb(127, 131, 101);
         margin-top: 30px;

      }



      ul {
list-style:circle ;
padding:0 px;
margin: 0 px;


      }

      li
      {
float: left;
margin-right: 30px;


      }